@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Grandslang roman';
  src: url('./assets/fonts/grandslang.woff2') format('woff2'),
    url('./assets/fonts/grandslang.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  /* src: url('https://uploads-ssl.webflow.com/5343bca08039b78d170002c4/60e1a407cfd884bbba461245_GrandSlang%20Roman.woff2')
      format('woff2'),
    url('https://uploads-ssl.webflow.com/5343bca08039b78d170002c4/60e1a407ad63e87cd8d907ef_GrandSlang%20Roman.woff')
      format('woff'); */
}

/* CSS VARIABLES */
:root {
  /* typography */
  --font-family: 'Open sans', sans-serif;
  --font-family-text: 'Montserrat', sans-serif;
  --font-family-grand: 'Grandslang roman', sans-serif;
  --font-family-project: 'Dosis', sans-serif;
  --font-family-nav: 'Bodoni Moda', serif;
  --letter-spacing: 1px;

  /* colors */
  --color-dark-grey: #4f5e74;
  --color-black: #1a1818;
  --bg-beige: #ece7e1;
}

/* DEFAULT CSS */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-text);
  color: var(--color-black);
  font-size: calc(15px + 0.390625vw);
  scroll-behavior: smooth;
}

.bg-body {
  background-color: var(--color-black);
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 0.9rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

input,
select,
option,
button {
  font-family: var(--font-family);
}

/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
} */

/* REUSABLE COMPONENTS */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  padding-left: 70px;
}

.layout {
  background-color: var(--color-black);
  z-index: 999;
}

.bg-layout {
  background-color: var(--bg-beige);
}

@media screen and (max-width: 770px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
